.faqs-section {
  padding: 50px 24px;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  text-align: center;
}

.faqs-container {
  max-width: 800px;
  margin: 0 auto 60px;
  text-align: left;
}
.faqs-content{
    padding: 20px;
}

.faqs-container h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.faq-item {
  border-bottom: 1px solid var(--border, #ccc);
  margin-bottom: 16px;
}

.faq-question {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-text);
}

.faq-answer {
  display: none;
  padding: 0 16px 16px;
  font-size: 16px;
  color: var(--text-secondary, #888);
}

/* Image stack */
.faqs-images {
  position: relative;
  max-width: 300px;
  margin: 0 auto 20px;
  height: 70px;
}

.faqs-images img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-primary);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Front image in center */
.front-img {
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/* Behind images on left and right */
.behind-img {
  top: 20px;
  opacity: 0.8;
  z-index: 2;
}

.behind-img-left {
  left: 30%;
}

.behind-img-right {
  right: 30%;
}

/* CTA Button */
.faqs-cta {
  margin-top: 20px;
}

.faqs-texts h3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.faqs-texts p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-secondary);
}

.btn-get-in-touch {
  padding: 12px 24px;
  background-color: #6a0dad;
  color: #dfdfdf;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-get-in-touch:hover {
  /* background-color: var(--btn-hover); */
  color:#ffffff;
}
